{{!-- linking contact styling  --}}
<link rel="stylesheet" href="/contact.css">

<div class="contact">
    <div class="head_con">
    <form action="/form" method="post" >

        <label for="name">
            <input type="text" name="name" id="name" class="form_field" placeholder="enter your name">
        </label>

        <label for="email">
            <input type="email" name="email" id="name" class="form_field" placeholder="enter your email">
        </label>

        <textarea name="concern" class="concern_field" placeholder="enter your concern " ></textarea>

        <button type="submit" class="con_btn">submit</button>
    </form>
    </div>
</div>