{{!-- linking footer styling  --}}
<link rel="stylesheet" href="/footer.css">


<footer>
    <div class="ft_para">
        <p class="ft_main_para">mady by tribhuwan sharma || copyright &copy; 2024</p>
    </div>
</footer>