{{!-- inserting header css  --}}
<link rel="stylesheet" href="/header.css">

<header class="main_section_header">
    <nav>
        <div class="main_section_content">
            <h1>portfillo</h1>
        </div>
        <div class="main_sections_links">
            <a href="">home</a>
            <a href="">about us </a>
            <a href="">contact </a>
            <a href="">services </a>
        </div>
    </nav>
</header>